<app-toolbar></app-toolbar>
<!--<p class="cards-per-row-txt"><b>Select number of cards per row:</b> </p>-->
<!--<mat-slider class="img-size-slider" [max]="6" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true"></mat-slider>-->
<!--<br>-->
<!--<button (click)="openDialog()" mat-raised-button color="primary" class="add-client-button">Add New Client</button>-->
<!--<div class="content">-->
<!--  <div fxLayout="row wrap" fxLayoutGap="16px grid">-->
<!--    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlexAlign="stretch" *ngFor = "let client of clients">-->
<!--      <mat-card class="client-card">-->
<!--        <mat-card-header>-->
<!--          <div mat-card-avatar class="header-image"></div>-->
<!--          <mat-card-title>{{client.firstName}} {{client.lastName}}</mat-card-title>-->
<!--          <mat-card-subtitle>Client {{client.id}}</mat-card-subtitle>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <mat-list>-->
<!--            <p><b>Email:</b></p>-->
<!--            <mat-list-item>-->
<!--              <p>{{client.email}}</p>-->
<!--            </mat-list-item>-->
<!--            <mat-divider></mat-divider>-->
<!--            <p><b>Accounts:</b></p>-->
<!--            <div>-->
<!--              <div *ngFor = "let client_account of client.accounts; let idx = index">-->
<!--                <mat-list-item>-->
<!--                  <p> {{idx + 1}} . {{client_account.accountType}} </p>-->
<!--                  <p> -> {{client_account.balance}} RON </p>-->
<!--                </mat-list-item>-->
<!--                <mat-divider></mat-divider>-->
<!--              </div>-->
<!--            </div>-->
<!--          </mat-list>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <button class="action-buttton" mat-fab color="warn"><mat-icon>delete</mat-icon></button>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
