<app-toolbar></app-toolbar>
<p class="cards-per-row-txt"><b>Select number of surveys per row:</b> </p>
<mat-slider class="img-size-slider" [max]="6" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true"></mat-slider>
<br>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlexAlign="stretch" *ngFor = "let survey of surveys; let i = index ">
      <mat-card class="survey-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{survey.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <p class="active-survey" *ngIf="isActive(i)">ACTIVE</p>
            <p class="inactive-survey" *ngIf="!isActive(i)">INACTIVE</p>
            <mat-divider></mat-divider>
            <br>
            <p><b>Start date:</b> {{survey.start_date}}</p>
            <p><b>End date:</b> {{survey.end_date}}</p>

          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="['/complete-survey']" *ngIf="isActive(i)" (click)="newSurveyId(i)" mat-raised-button color="primary">Complete</button>
          <button [routerLink]="['/results']" mat-stroked-button color="primary">Show results</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
