<app-toolbar></app-toolbar>
<p class="cards-per-row-txt"><b>Select number of surveys per row:</b> </p>
<mat-slider class="img-size-slider" [max]="6" [min]="3" [(ngModel)]="gridColumns" [thumbLabel]="true"></mat-slider>
<br>
<div class="content" *ngIf="this.users && this.surveys">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" fxFlexAlign="stretch" *ngFor = "let survey of surveys; let i = index">
      <mat-card class="survey-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{survey.title}}</mat-card-title>
          <button (click)="openDialog(survey.id)" *ngIf="verifyCreator(survey.id)" mat-stroked-button color="primary"><mat-icon>edit</mat-icon></button>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <p class="active-survey" *ngIf="isActive(i)">ACTIVE</p>
            <p class="inactive-survey" *ngIf="!isActive(i)">INACTIVE</p>
            <mat-divider></mat-divider>
            <br>
            <p><b>Start date:</b> {{this.stringDate(survey.start_Date)}}</p>
            <p><b>End date:</b> {{this.stringDate(survey.end_Date)}}</p>

          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="['/complete-survey']" *ngIf="isActive(i) && !completedSurveys[i]" (click)="newSurveyId(survey.id)" mat-raised-button color="primary">Complete</button>
          <button *ngIf="completedSurveys[i]" (click)="openDialogResults(survey.id)"  mat-stroked-button color="primary">Show results</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
