.title {
  background-color: aliceblue;
  padding: 20px;
  margin: 0px;
  font-size: 23px;
}

::ng-deep .mat-dialog-container {
  padding: 0px;
}

.edit-dialog-content  {
  padding-left: 20px;
  padding-top: 25px;
  margin-right: 24px;
}

.text-new-end-date {
  font-size: larger;
}
