<h1 class="title">Edit Survey details</h1>
<div class="edit-dialog-content">
<mat-dialog-content class="save-new-client-form" [formGroup]="editSurveyForm">
    <p class="text-new-end-date">Choose a new end date for the survey: </p>
    <mat-form-field class="input-field" appearance="outline">
      <input formControlName="newEndDate" matInput [matDatepicker]="picker" datepickerFormat="MM-DD-YYYY" placeholder="ex. 01/01/2023" required>
      <mat-hint>Date format: MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button color="primary" class="add-client-button" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" class="add-client-button" (click)="changeEndDate()">Save</button>
  </mat-dialog-actions>
</div>

